@import '../mixin' ;
@import '../variables';

.product-nav {
    position: sticky;
    top: 0;
    @include flex (0, '');
    height: 71.8px;
    padding: 1.6px 16px;
    background: $navBackground;
  .productNav-container {
    max-width: $mainMaxWidth-1200;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    .product-nav-block {
      @include flex(_, space-between);
      @media all and (max-width: $mainMaxWidth-1140) {
        width: calc(100% - 100px);
        margin: 0 auto;
      }
      @media all and (max-width: $mainMaxWidth-992) {
        display: none;
      }
      li {
        a {
          @include flexColumn(3px);
          color: #333333;
          p {
            font-size: 12px;
          }
          img {
            height: 35px;
          }
        }
      }
    }
    
  }
}