
@import '../variables';

.subtitle {
    @include flex (0, "");
    height: 60px;
	&-container {
		max-width: $mainMaxWidth-1200;
		width: 100%;
		margin: 0 auto;
        padding: 0 15px;
		.subtitle-block {
            @include flex(0, space-between);
            height: 48.2px;
            @media all and (max-width:$mainMaxWidth-1140) {
                width: calc(100% - 100px);
                margin: 0 auto;
            }
			.subtitle-logo a {
                img {
                    @include wh (80px, 32px);    
                }    
            }
            .subtitle-list {
                @include flex (35px, space-between);
                .contacts a {
                    font-weight: 500;
                    color: $mainTextColor ;
                    cursor: pointer;
                }
                li {
                    .work-time {
                        color: #343a40;
                    }
                    a {
                    color: $secondTextColor;  
                    font-size: 0.875rem;
                    line-height: 18px; 
                    }
                    
                }
                
            }
            .subtitle-search {
                @include flex (0, '');
                max-width: 474.18px;
                width: 100%;
                height: 35px;
                border-radius: 100px;
                border: 1px solid #d2d2d2;
                padding-left: 8px 0 8px 8px;
                cursor: pointer;
                input {
                    width: 443px;
                    height: 33px;
                    border-radius: 100px;
                    border: none;
                    outline: none;
                    font-size: 0.938rem;
                    &-::placeholder {
                        color: $inputPlaceHolderTextColor;
                        padding-left: 10px
                    }
                }
                svg {
                    @include wh (20px, 20px);
                    margin-right: 10px;
                    margin-left: 13px;
                }
                & :hover {
                    border: 1.5px solid $activeElement;
                }
            }
            .subtitle-card {
                position: relative;
                cursor: pointer;
                &::after {
                    content: '2';
                    position: absolute;
                    @include wh (15px, 15px);
                    background: $activeElement;
                    @include flex (0, center);
                    right: 0;
                    bottom: 2px;
                    font-size: 8px;
                    color: #e8e8e8;
                    font-weight: 400;
                    border-radius: 100%;
                }
            }
		}
    }
}