$mainTextColor: #1d1d1f;
$secondTextColor: #828282;
$activeTextColor: #5e8dce;
$navItemTextColor: #bbbbbb;

$ativeElenent: #5e8dce;
$headerBackground: #2e2e2e;
$navBackground: #f1f1f1;
$productBackgrount: #f5f5f7;


$mainMaxwidth-1200: 1200px;
$mainMaxwidth-1140: 1140px;
$mainMaxwidth-992: 992px;
$mainMaxwidth-720: 720px;
$mainMaxwidth-576: 576px;